body {
    display: flex;
}

.produit {
    margin: 15px;
    width: 512px;
    height: 512px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    display: block;
    margin: auto;
    text-align: center;
}

.mdl-textfield {
    margin:auto;
}

legend {
    text-align: center;
}

h5 {
    text-align: center;
}

